{% extends 'pdfLayout.html.twig' %}

{% block style %}
    <link rel="stylesheet" href='{{ absolute_url(asset('style/pdfAccount_generator.css')) }}' />
{% endblock %}

{% block body %}
    <p id="numeroFacture"><strong>Solde au {{ "now"|date("d.m.Y") }}</strong></p>
    <table>
        <tr id="tableHeader">
            <td>Désignation</td><br>
            <td>PU</td>
            <td>Quantité</td>
            <td>Montant HT</td>
        </tr>
        {% set total = 0 %}
        {% for facture in factures %}
            {% if loop.last %}
                <tr>
                    <td class="rowEnd">{{ facture }}</td>
                    <td class="rowEnd" id="toAlignRight"><strong>€</strong></td>
                    <td class="rowEnd" id="toAlignRight"><strong>1</strong></td>
                    <td class="rowEnd" id="toAlignRight"><strong>€</strong></td>
                </tr>
            {% else %}
                <tr>
                    <td class="row">{{ facture }}</td>
                    <td class="row" id="toAlignRight"><strong>€</strong></td>
                    <td class="row" id="toAlignRight"><strong>1</strong></td>
                    <td class="row" id="toAlignRight"><strong>€</strong></td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td class="invisible"></td>
            <td id="toAlignRight" colspan="3"><strong>Total à régler</strong></td>
            <td id="toAlignRight"><strong>€</strong></td>
        </tr>
    </table>
{% endblock %}