.col-xs-4{
    border: 2px dotted black;
    border-radius: 12px;
    padding: 8px;
}
.col-xs-7{
    border: 2px dotted black;
    border-radius: 12px;
    padding: 8px;
    margin-right: 15px;
    margin-left: 17%;
}
.wrapper{
    background-color: #F5F5F5;
}

.action-save{
    margin-bottom: 20px;
}
.add_item{
    margin: 10px;
}
.categoryRemove{
    color: #D42124;
    text-align: right;
}

#title{
    margin-left: 13%;
}
.col-xs-3{
    margin-left: 17%;
}