.col-xs-5{
    border: 2px dotted black;
    border-radius: 12px;
    padding: 8px;
    margin-left: 50px;
}
.wrapper{
    background-color: #F5F5F5;
}

#collection_flight_sauvegarder_les_modifications{
    margin-bottom: 20px;
}