{% block category_content %}

    <div class="col-xs-12">
        {{ form_row(category.name) }}
    </div>
    <div class="items" data-prototype="{{ form_widget(category.items.vars.prototype)|e('html_attr') }}">
        {% for item in category.items %}
            <div id="count_item" class="col-xs-4 form-group">
                {{ form_widget(item) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}